EDIT SUCCESS


<p>
  <strong>max_time_spent:</strong>
  <%= @project.max_time_spent %>
</p>

<p>
  <strong>description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'project index', projects_path %>
<br>
<%= link_to 'entries index', entries_path %>

<%= link_to 'developer index', developers_path %>
