<%= @developer %>
<table>
  <thead>
    <tr>
      <th>first</th>
      <th>last</th>
      <th>email</th>
      <th>password</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody >
    <% @developers.each do |developer| %>
    <tr>
    <% if developer.seven_day > 40 %>
      <td class="" style="background-color: red;font-weight:bold "><%= developer.first %></td>
      <td class="" style="background-color: red;font-weight:bold "><%= developer.last %></td>
      <td class="" style="background-color: red;font-weight:bold "><%= developer.email %></td>
      <td class="" style="background-color: red;font-weight:bold "><%= developer.password_digest %></td>
    <% else %>
      <td class=""><%= developer.first %></td>
      <td class=""><%= developer.last %></td>
      <td class=""><%= developer.email %></td>
      <td class=""><%= developer.password_digest %></td>
    <% end %>
    <td><%= link_to 'Edit', edit_developer_path(developer) %></td>
    <% if developer.entries.length > 0  %>
    <% else %>
      <td><%= link_to 'Destroy', developer, method: :delete %></td>
    <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'NEW', new_entry_path %>
<%= link_to 'entry index', entries_path %>

<%= link_to 'NEW DEVELOPER', new_developer_path %>
<%= link_to 'developer index', developers_path %>
