EDIT SUCCESS


<p>
  <strong>First:</strong>
  <%= @developer.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @developer.last %>
</p>


<p>
  <strong>Email:</strong>
  <%= @developer.email %>
</p>


<p>
  <strong>Password:</strong>
  <%= @developer.password_digest %>
</p>


<%= link_to 'INDEX PAGE', developers_path %>
