edit stuff here!
<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>
      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :developer_id %><br>
    <%= f.select :developer_id, Developer.where(id: session["developer_id"]) {|s| [ s.email, s.id ] } %>
  <div>

  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.select :project_id, Project.all.collect {|s| [ s.description, s.id ] } %>
  </div>


  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label :duration %><br>
    <%= f.text_field :duration %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




<%= link_to 'entries', entries_path %>

<%= link_to 'developer index', developers_path %>
