EDIT SUCCESS


<p>
  <strong>developer_id:</strong>
  <%= @entry.developer_id %>
</p>

<p>
  <strong>date:</strong>
  <%= @entry.date %>
</p>


<p>
  <strong>project_id:</strong>
  <%= @entry.project_id %>
</p>


<p>
  <strong>duration:</strong>
  <%= @entry.duration %>
</p>


<%= link_to 'INDEX PAGE', entries_path %>
