EDIT SUCCESS


<p>
  <strong>developer_id:</strong>
  <%= @entry.developer_id %>
</p>

<p>
  <strong>date:</strong>
  <%= @entry.date %>
</p>


<p>
  <strong>project_id:</strong>
  <%= @entry.project_id %>
</p>


<p>
  <strong>duration:</strong>
  <%= @entry.duration %>
</p>


<%= link_to 'entries index', entries_path %>

<%= link_to 'developer index', developers_path %>
